/*
// chia playout
*/
.root{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
/* lớp làm mơ overlay*/
.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
}
/* Thanh điều hướng*/
.nav_input{
    width: 100%;
    height: 8vh;
}
.nav_box{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0.3rem;
}
.navLink{
    flex-grow: 1;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo{
    width: 20%;
    display: inline; 
    border-right: 0.1rem solid #ddd;
}

.navBtnMenu i{
    font-size: 2rem;
}
.nav_box input{
    width: 30%;
    height: 100%;
    border-radius: 3rem;
    outline: none;
    padding: 1rem;
}
/*khung chính*/
.content{
    box-sizing: border-box;
    text-align: center;
    display: flex;
    width: 100%;
    height:92vh ;
}
.aside{
    height: 100%;
    width: 30%;
}
.menuFriend{
    height: 9%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.chatBox{
    width: 70%;
    height: 100%;
    border-left: 1px solid #ddd;
    display: flex;
    flex-direction: column;  
    background-color: #EFEFEF; 
}
/* tieu đề khung chat*/
.headerBox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFEFEF;
    width: 100%;
    height: 9%;
    position: relative;
}
.boxChat{
    width: 100%;
    height: 78%;
    border-top: 0.1rem solid #ddd;
    
}
/* khung gửi tin nhan*/
.inputMessage{
    width: 100%;
    height: 13%;
    border-top: 0.1rem solid #ddd;
}
.custum{
    width: 100%;
    height: 35%;
    border-bottom:0.1rem solid #ddd ;
}
.frameMessage{
    width: 100%;
    height: 65%;
}
.frameMessage input[type=text]{
    width: 100%;
    height: 90%;
    border: none;
    padding: 1em;
}
/* menu*/
.btn_Menu{
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
}
.btn_Menu i{
    font-size: 1.3rem;
}
.titleBox{
    text-align: center;
    flex-grow: 1;
    font-size: 1.5rem;
    background-color: #EFEFEF;
}
.iconBox{
    width: 10%;
    height: 100%;
    border: none;
}
/*Hien thị thông tin*/
.displayInfor{
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    position: absolute;
    top:5rem;
    right: 0;
    background-color:#fff;
    width: 40vh;
    height: 55vh;
}
.displayList{
    width: 100%;
    height: 90%;
    overflow: scroll;
}
/* form chỉnh sửa thông tin người dùng*/
.fromUpdate{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    right: 0;
    z-index: 2;
    background-color: #fff;
    width: 70%;
    height: 90%;
} 
/*
    responsive
*/
@media only screen and (max-width: 46.1875em){
    .header{
        display: none;
    }
    .nav_input{
        width: 100%;
        height: 10vh;
    }
    .navbar{
        width: 100%;
        height: 100%;
    }
   
    .content{
        height: 90vh;
        box-sizing: border-box;
    }
    .aside{
        display: flex;
        text-align: center;
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
    }
    .menuFriend{
        height: 10%;
        width: 100%;
        flex-wrap: nowrap;
    }
    .chatBox{
        display: none;
    }
    .display{
        display: block;
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100vh;
    }
    
    .displayList{
        width: 100%;
        height: 90%;
        overflow: scroll;
        border: 1px solid mediumaquamarine;
    }
    .iconBox{
        width: 18%;
    }
    .displayInfor{
    
        position: fixed;
        top:0;
        right: 0;
        background-color: aqua;
        width: 100%;
        height: 100%;
    } 
    /*
        cập nhật kich thước form chỉnh sửa
    */
    .fromUpdate{
        position: fixed;
        top:0;
        right: 0;
        width: 100%;
        height: 100%;
    } 
    .cancelbtn, .signupbtn {
        width: 100%;
      }
    .nav_box input{
        width: 100%;
        height: 90%;
    }
    
}
/*
--phần danh sách bạn
*/


.listFriend {
  display:grid;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.friend {
  display: flex;
  align-items: center;
  padding:0.15rem 1.2rem;
  border-bottom: 0.1rem solid #ddd;
  width: 100%;
}

.picture {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  background-image: url('https://via.placeholder.com/40x40');
  background-size: cover;
}
.friend .nameFriend {
    flex-grow: 1;
}

.active{
      background-color: #ddd;
}
.myProfile{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.myInfor{
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 61%;
    padding: 0.9rem;
    margin: 0.1rem 0 01rem 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
 
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 1rem;
    margin: 0.3rem 0.1rem;
    border: none;
    cursor: pointer;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:0.4;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 1rem 1rem;
    background-color: #F20202;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: none;
    width: 9rem;
  }
  
  /* Add padding to container elements */
  .wrap {
    padding: 1rem;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  