/*
// chia playout
*/
body{
    overflow: hidden;
}
.root {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* lớp làm mơ overlay*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Thanh footer*/
.footer {
    width: 100%;
    height: 10vh;
    background: linear-gradient(#0cb3ff,#0068ff);
}

.nav_box {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0.3rem;
}

.flex-grow-1 {
    flex-grow: 1;
}

.logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.25rem double #fff;
    color: white;
}
.logo >div{
    margin: 1rem;
}
/*  */
.navBtnMenu i {
    font-size: 2rem;
}



/*khung chính*/
.main-box {
    box-sizing: border-box;
    text-align: center;
    display: flex;
    width: 100%;
    height: 90vh;
}

.aside {
    border: 0.25rem double rgb(87,189,228);

    height: 100%;
    width: 30%;
}

.menu {
    height: 9%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.chatBox {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* tieu đề khung chat*/
.headerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    height: 10%;
    position: relative;
    border: 0.3rem solid white;
    box-shadow:0px 10px 40px -10px rgba(0,0,0,0.7);
}
.headerBox button{
    background: none;
    color: #000000;;
} 
.wrap-box-chat {
    width: 100%;
    height: 75%;
}


/* menu*/
.btn_Menu {
    width: 100%;
    height: 100%;
}

 i {
    font-size: 1.3rem;
}

.title-box {
    text-align: center;
    flex-grow: 1;
    font-size: 2rem;
    color: #241b1b;
    letter-spacing: 0.2rem;
    font-family: Didot;
}

.iconBox {
    width: 10%;
    height: 100%;
    border: none;
}

/*Hien thị thông tin*/
.form-info-friend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow:0px 13px 60px -10px rgba(0,0,0,0.7);
}
.parent-form-update{
    z-index: 1;
    display: block;
    position: absolute;
    top: 4.4rem;
    right: 0.2rem;
    background-color: #fff;
    width: 40vh;
    height: 67%;
}
.form-info-friend div:first-child{
    position: absolute;
    top: 0.1rem;
    left: 0.2rem;
}
.form-info-friend >div{
    margin-top:0.4rem ;
}
.form-info-friend button{
    padding: 0.17rem;
}
.box-list {
    width: 100%;
    height: 78%;
    overflow: scroll;
}
/* trang thái và tên người dùng */
.status-user-box{
    height: 12%;
    width: 100%;
    display: flex;
    border: 0.2rem white solid;
    align-items: center;
    background-color: rgb(87,189,228);
    padding: 0.7rem;
}
.status-user-box >div{
    margin:1rem;
}
.status-user-box .picture{
    border: 0.1rem solid black;
}
#status{
    font-size: 0.7rem;
}
#nameUser{
    font-family: Copperplate;
    color: rgb(218, 218, 240);
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
}
.search-box{
    height: 10%;
    padding: 0.5rem;
    width: 100%;
}
.search-box input {
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    outline: none;
    padding: 1rem;
}
/* lop có z-index=2 */
.box-hidden {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    top: 10%;
    left: 35%;
    background-color: #fff;
}

.warn div {
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.alert-box{
    display: block;
    border: 0.1rem solid  rgb(15, 200, 247);
}
.alert-box button{
    padding: 0.4rem;
    margin: 0.3rem;
    width: 5rem;
}
/* form chỉnh sửa thông tin người dùng*/
.fromUpdate {
    top: 10%;
    right: 20%;
    width: 30%;
    height: 80%;
    justify-content: center;
}

/*
--phần danh sách bạn
*/


.list-friend {
    display: grid;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.friend {
    display: flex;
    align-items: center;
    padding: 0.15rem 1.2rem;
    border-bottom: 0.1rem solid #ddd;
    width: 100%;
}

.picture {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-image: url('https://via.placeholder.com/40x40');
    background-size: cover;
}

.friend .nameFriend {
    flex-grow: 1;
}
.friend button{
    border-radius: 50%;
    display: block;
    padding: 0.1rem; 
    margin-right: 0.4rem;
    background:none;
}
button.accept{
    color: rgb(57 ,164 ,255);;
    size: 1rem;
}
button.cancel{
    color: brown;
    size: 1rem;
}
.active {
    background-color: rgb(245, 248, 252);
}

.box-info-user {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.info {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 95%;
    padding: 0.5rem;
    margin: 0.1rem 0 0rem 0.5rem;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
/* Set a style for all buttons */
button {
    background-color: rgb(87,189,228);
    color: white;
    padding: 0.5rem 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

button:hover {
    opacity: 0.4;
}

/* Extra styles for the cancel button */
.cancelbtn {
    background-color: #F20202;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.ok {
    margin:0.2rem ;
    float: none;
    width: 6rem;
}

/* Add padding to container elements */
.wrap {
    width: 100%;
    
    padding: 1rem;
    
}

/* Clear floats */
.clearfix {
    content: "";
    clear: both;
    display: flex;
    justify-content: center;
}

/*Nút thêm nhóm*/
#btnAddGroup{
    z-index: 2;
    position: fixed;
    bottom:15%;
    left: 1rem;
}
#btnAddGroup .btn_Menu{
    background-color: none;
    border: 0.1rem solid #bbb; 
    border-radius: 50%; 
    padding: 0;
    width: 3rem;
    height: 3rem;
}
.menu-add{
    position: absolute;
    width: 9rem;
    top: -1rem;
    left: 3rem;
    
}
.menu-add button{
    width: 100%;
    padding: 0.2rem;
    margin: 0.2rem;
}
/*  khung hiển thị tin nhắn   */
.box-chat{
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background:rgb(189, 190, 190);
}

.stl_mes  >span{
    background-color: rgba(15, 200, 247,0.8);
    max-width: 50%;
    color:white;
    border-radius: 1rem;
    border: 0.1rem solid  rgb(15, 200, 247);
    margin:0.7rem;
    text-align: left;
    padding: 0.9rem;
}
.stl_mes .send{
    float: right;
}
.stl_mes .receive{
    float: left;
}
/* khung gửi tin nhan*/
.input-box {
    background-color: rgb(198 ,226, 236,0.8);
    width: 100%;
    height: 15%;
    bottom: 0rem;
}

.custum {
    text-align: left;
    padding-left: 1rem;
    width: 100%;
    height: 30%;
}
.custum label{
    margin: 0rem;
    padding: 0rem;
}

.input-box div:last-child {
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box div:last-child input[type=text] {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.upload-file {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }
 label {
    cursor: pointer;
    margin: 0.5rem;
    /* Style as you please, it will become the visible UI component. */
 }
/* ---------------------------------------------------------------------------------------------------- */
/*
    responsive
*/
@media only screen and (min-width: 48rem){
    .menu{
        position: fixed;
        height: 8%;
        width: 50%;
        left: 40%;
        margin: 0.8rem;
    }
    .menu button{
        margin-left: 1rem;
    }
}
@media only screen and (max-width: 46.1875em) {
    .box-hidden {
        width: 100%;
        top: 0;
        left: 0;

    }

    .footer{
       display: none;
    }

    .main-box {
        position: relative;
        height: 100vh;
        box-sizing: border-box;
    }

    .aside {
        display: flex;
        text-align: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .menu{
        height: 10%;
        width: 100%;
        flex-wrap: nowrap;
    }

    .chatBox {
        display: none;
    }

    .display {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }

    .box-list {
        width: 100%;
        height: 80%;
        overflow: scroll;
    }

    .iconBox {
        width: 18%;
    }
    .parent-form-update{
        position: fixed;
        top: 0;
        right: 0;
        
        width: 100%;
        height: 100%;
    }
    .form-info-friend{
        width: 100%;
        height: 100%;
    }

    /*
        cập nhật kich thước form chỉnh sửa
    */
    .fromUpdate {
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }



    .cancelbtn,
    .ok {
        float: none;
        width: 7rem;
    }
    #btnAddGroup{
        top: 80%;
    }
    .wrap-box-chat{
        height: 75vh;
    }
    .input-box {
        height: 15vh;
        position: fixed;
        bottom: 0rem;
    }
    .stl_mes  span{
        max-width: 80%;
    }
    .alert-box{
        display: block;
    }
    .btn_Menu span {
        display: none;
    }
}

/* set hiển thị none cho playout - phải để cuối */
.display-none {
    display: none;
}


/* width */
::-webkit-scrollbar {
    width: 0.1rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ddd; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ccc; 
  }
  ::-webkit-scrollbar-track {
    background:none;
}