/*
// chia playout
*/
body{
    overflow: hidden;
}
.root {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* lớp làm mơ overlay*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Thanh footer*/
.footer {
    width: 100%;
    height: 10vh;
}

.nav_box {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0.3rem;
}

.flex-grow-1 {
    flex-grow: 1;
}

.logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0.1rem solid #bbb;
}
.logo >div{
    margin: 1rem;
}
/*  */
.navBtnMenu i {
    font-size: 2rem;
}



/*khung chính*/
.main-box {
    box-sizing: border-box;
    text-align: center;
    display: flex;
    width: 100%;
    height: 90vh;
}

.aside {
    border: 0.1rem solid #ddd;
    height: 100%;
    width: 30%;
}

.menu {
    height: 9%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.chatBox {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* tieu đề khung chat*/
.headerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;
    width: 100%;
    height: 10%;
    position: relative;
}

.wrap-box-chat {
    width: 100%;
    height: 70%;
    border-top: 0.1rem solid #ddd;

}


/* menu*/
.btn_Menu {
    width: 100%;
    height: 100%;
}

 i {
    font-size: 1.3rem;
}

.title-box {
    text-align: center;
    flex-grow: 1;
    font-size: 1.5rem;
    color: #EFEFEF;
}

.iconBox {
    width: 10%;
    height: 100%;
    border: none;
}

/*Hien thị thông tin*/
.form-info-friend {
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 5rem;
    right: 0;
    background-color: #fff;
    width: 40vh;
    height: 55vh;
}
.form-info-friend >div{
    padding: 1rem;
}

.box-list {
    width: 100%;
    height: 80%;
    overflow: scroll;
}
/* trang thái và tên người dùng */
.status{
    height: 10%;
    width: 100%;
    display: flex;
    border-bottom: 0.1rem solid #ddd;
    align-items: center;

    padding: 0.7rem;
}
.search-box{
    height: 10%;
    padding: 0.5rem;
    width: 100%;
}
.search-box input {
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    outline: none;
    padding: 1rem;
}
/* lop có z-index=2 */
.box-hidden {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    top: 10%;
    left: 35%;
    background-color: #fff;
}

.warn div {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

/* form chỉnh sửa thông tin người dùng*/
.fromUpdate {
    top: 10%;
    right: 20%;
    width: 30%;
    height: 80%;
    justify-content: center;
}

/*
--phần danh sách bạn
*/


.list-friend {
    display: grid;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.friend {
    display: flex;
    align-items: center;
    padding: 0.15rem 1.2rem;
    border-bottom: 0.1rem solid #ddd;
    width: 100%;
}

.picture {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-image: url('https://via.placeholder.com/40x40');
    background-size: cover;
}

.friend .nameFriend {
    flex-grow: 1;
}
.friend button{
    border-radius: 50%;
    display: block;
    padding: 0.1rem; 
    margin-right: 0.4rem;
    background:none;
}
button.accept{
    color: green;
    size: 1rem;
}
button.cancel{
    color: brown;
    size: 1rem;
}
.active {
    background-color: #ddd;
}

.box-info-user {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.info {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 95%;
    padding: 0.5rem;
    margin: 0.1rem 0 0rem 0.5rem;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 1rem;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

button:hover {
    opacity: 0.4;
}

/* Extra styles for the cancel button */
.cancelbtn {
    background-color: #F20202;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.ok {
    margin:0.2rem ;
    float: none;
    width: 6rem;
}

/* Add padding to container elements */
.wrap {
    width: 100%;
    
    padding: 1rem;
    
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: flex;
    justify-content: center;
}

/*Nút thêm nhóm*/
#btnAddGroup{
    z-index: 2;
    position: absolute;
    bottom:15%;
    left: 1rem;
}
#btnAddGroup .btn_Menu{
    background-color: none;
    border: 0.1rem solid #bbb; 
    border-radius: 50%; 
    padding: 0;
    width: 3rem;
    height: 3rem;
}
/*  khung hiển thị tin nhắn   */
.box-chat{
    width: 100%;
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.box-chat >div{
    display: flex;
}
.send div{
    flex-grow: 1;
}
.stl_mes  >span{
    max-width: 50%;
    border-radius: 1rem;
    border: 0.1rem solid #ddd;
    margin:1rem;
    text-align: left;
    padding: 1rem;
}
/* khung gửi tin nhan*/
.input-box {
    background-color: #EFEFEF;
    width: 100%;
    height: 20vh;
    bottom: 0rem;
    border-top: 0.1rem solid #ddd;
}

.custum {
    width: 100%;
    height: 30%;
    border-bottom: 0.1rem solid #ddd;
}

.input-box div:last-child {
    width: 100%;
    height: 65%;
    
}

.input-box div:last-child input[type=text] {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
#upload-file {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }
 label {
    cursor: pointer;
    margin: 0.5rem;
    /* Style as you please, it will become the visible UI component. */
 }
/* ---------------------------------------------------------------------------------------------------- */
/*
    responsive
*/
@media only screen and (min-width: 48rem){
    .menu{
        position: fixed;
        height: 8%;
        width: 40%;
        bottom: 0px;
        left: 40%;
        margin: 0.8rem;
    }
    .menu button{
        margin-left: 1rem;
    }

}
@media only screen and (max-width: 46.1875em) {
    .box-hidden {
        width: 100%;
        top: 0;
        left: 0;

    }

    .footer{
       display: none;
    }

    .main-box {
        position: relative;
        height: 100vh;
        box-sizing: border-box;
    }

    .aside {
        display: flex;
        text-align: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .menu{
        height: 10%;
        width: 100%;
        flex-wrap: nowrap;
    }

    .chatBox {
        display: none;
    }

    .display {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }

    .box-list {
        width: 100%;
        height: 90%;
        overflow: scroll;
    }

    .iconBox {
        width: 18%;
    }

    .form-info-friend{
        position: fixed;
        top: 0;
        right: 0;
        
        width: 100%;
        height: 100%;
    }

    /*
        cập nhật kich thước form chỉnh sửa
    */
    .fromUpdate {
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }



    .cancelbtn,
    .ok {
        float: none;
        width: 7rem;
    }
    #btnAddGroup{
        top: 80%;
    }

    .input-box {
        position: fixed;
        bottom: 0rem;
    }
    .stl_mes  span{
        max-width: 80%;
    }
}

/* set hiển thị none cho playout - phải để cuối */
.display-none {
    display: none;
}


/* width */
::-webkit-scrollbar {
    width: 0.1rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ddd; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ccc; 
  }